Main Goal:
Predict based on

# Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math as m
from pydataset import data
from sklearn.impute import SimpleImputer
from scipy import stats

In [2]:
from sklearn.model_selection import train_test_split
#classification
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

#regression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

from sklearn.cluster import KMeans

import warnings
warnings.filterwarnings("ignore")
from sklearn.metrics import classification_report, accuracy_score,precision_score,recall_score, confusion_matrix

In [3]:
#Bring in items csv using pandas
building_damage_csv = pd.read_csv("csv_building_damage_assessment.csv")

In [4]:
building_damage_csv.head(10)

,building_id,district_id,vdcmun_id,ward_id,damage_overall_collapse,damage_overall_leaning,damage_overall_adjacent_building_risk,damage_foundation_severe,damage_foundation_moderate,damage_foundation_insignificant,...,has_damage_parapet,has_damage_cladding_glazing,has_geotechnical_risk,has_geotechnical_risk_land_settlement,has_geotechnical_risk_fault_crack,has_geotechnical_risk_liquefaction,has_geotechnical_risk_landslide,has_geotechnical_risk_rock_fall,has_geotechnical_risk_flood,has_geotechnical_risk_other
0,120101000011,12,1207,120703,Moderate-Heavy,Insignificant/light,None,NaN,Moderate-Heavy-(<1/3),Insignificant/light-(<1/3),...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,Severe-Extreme,Severe-Extreme,Insignificant/light,Severe-Extreme-(>2/3),NaN,NaN,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,Moderate-Heavy,Moderate-Heavy,Moderate-Heavy,NaN,Moderate-Heavy-(>2/3),NaN,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,Moderate-Heavy,Moderate-Heavy,Moderate-Heavy,NaN,Moderate-Heavy-(>2/3),NaN,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,Insignificant/light,None,None,NaN,NaN,Insignificant/light-(<1/3),...,0.0,0.0,0.0,0,0,0,0,0,0,0
5,120101000061,12,1207,120703,Insignificant/light,Insignificant/light,None,NaN,NaN,Insignificant/light-(1/3-2/3),...,0.0,0.0,0.0,0,0,0,0,0,0,0
6,120101000071,12,1207,120703,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0,0,0,0,0,0,0
7,120101000081,12,1207,120703,None,None,None,None,NaN,NaN,...,0.0,0.0,0.0,0,0,0,0,0,0,0
8,120101000091,12,1207,120703,Moderate-Heavy,Insignificant/light,None,NaN,NaN,Insignificant/light-(<1/3),...,0.0,0.0,0.0,0,0,0,0,0,0,0
9,120101000101,12,1207,120703,Moderate-Heavy,None,None,NaN,NaN,Insignificant/light-(<1/3),...,0.0,0.0,0.0,0,0,0,0,0,0,0

In [5]:
building_owner_use_csv = pd.read_csv("csv_building_ownership_and_use.csv")

In [7]:
building_owner_use_csv.head(10)

,building_id,district_id,vdcmun_id,ward_id,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
5,120101000061,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
6,120101000071,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
7,120101000081,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
8,120101000091,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
9,120101000101,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0

In [9]:
building_structure_csv = pd.read_csv("csv_building_structure.csv")
building_structure_csv.head(10)

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,...,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,condition_post_eq,damage_grade,technical_solution_proposed
0,120101000011,12,1207,120703,1,1,9,288,9,9,...,0,0,0,1,0,0,0,Damaged-Used in risk,Grade 3,Major repair
1,120101000021,12,1207,120703,1,1,15,364,9,9,...,0,0,0,1,0,0,0,Damaged-Repaired and used,Grade 5,Reconstruction
2,120101000031,12,1207,120703,1,1,20,384,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
3,120101000041,12,1207,120703,1,1,20,312,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
4,120101000051,12,1207,120703,1,1,30,308,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 1,Minor repair
5,120101000061,12,1207,120703,1,1,18,216,9,9,...,0,0,0,0,0,0,0,Damaged-Used in risk,Grade 2,Minor repair
6,120101000071,12,1207,120703,1,0,13,234,9,0,...,0,0,0,0,0,0,0,Damaged-Rubble unclear,Grade 5,Reconstruction
7,120101000081,12,1207,120703,1,1,8,280,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
8,120101000091,12,1207,120703,1,1,22,268,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 3,Major repair
9,120101000101,12,1207,120703,1,1,10,268,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 3,Major repair

In [10]:
house_demogra_csv = pd.read_csv("csv_household_demographics.csv")
house_demogra_csv.head(10)

,household_id,district_id,vdcmun_id,ward_id,gender_household_head,age_household_head,caste_household,education_level_household_head,income_level_household,size_household,is_bank_account_present_in_household
0,12010100001101,12,1207,120703,Male,31.0,Rai,Illiterate,Rs. 10 thousand,3.0,0.0
1,12010100002101,12,1207,120703,Female,62.0,Rai,Illiterate,Rs. 10 thousand,6.0,0.0
2,12010100003101,12,1207,120703,Male,51.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,13.0,0.0
3,12010100004101,12,1207,120703,Male,48.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,5.0,0.0
4,12010100005101,12,1207,120703,Male,70.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,8.0,0.0
5,12010100006101,12,1207,120703,Male,52.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,6.0,0.0
6,12010100007101,12,1207,120703,Male,27.0,Gharti/Bhujel,Class 5,Rs. 10-20 thousand,5.0,0.0
7,12010100008101,12,1207,120703,Male,31.0,Gharti/Bhujel,Class 4,Rs. 10 thousand,5.0,0.0
8,12010100009101,12,1207,120703,Male,44.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,9.0,0.0
9,12010100010101,12,1207,120703,Male,34.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,6.0,0.0

In [ ]:
house_demogra_csv = pd.read_csv("csv_household_demographics.csv")
house_demogra_csv.head(10)

In [12]:
household_earthquake_impact_csv = pd.read_csv("csv_household_earthquake_impact.csv")
household_earthquake_impact_csv.head(10)

,household_id,district_id,vdcmun_id,ward_id,shelter_condition_household_post_eq,residence_household_pre_eq,residence_household_post_eq,household_eq_id_type,has_death_occurred_last_12_months,count_death_last_12_months,...,has_occupation_change_occurred_last_12_months,count_occupation_change_last_12_months,residence_district_household_head_pre_eq,residence_district_household_head_post_eq,is_recipient_rahat_15k,is_recipient_rahat_10k,is_recipient_rahat_200k,is_recipient_rahat_social_security_3k,is_recipient_rahat_none,is_ineligible_rahat
0,12010100001101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,...,0.0,NaN,NaN,NaN,1,1,0,0,0,0
1,12010100002101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,...,0.0,NaN,NaN,NaN,0,0,0,0,1,0
2,12010100003101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,...,0.0,NaN,NaN,NaN,0,0,0,0,1,0
3,12010100004101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,...,0.0,NaN,NaN,NaN,0,0,0,0,1,0
4,12010100005101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,...,0.0,NaN,NaN,NaN,0,0,0,0,1,0
5,12010100006101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,...,0.0,NaN,NaN,NaN,1,1,0,0,0,0
6,12010100007101,12,1207,120703,Temporary shelter,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,...,0.0,NaN,NaN,NaN,0,0,0,0,1,0
7,12010100008101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,...,0.0,NaN,NaN,NaN,1,1,0,0,0,0
8,12010100009101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,...,0.0,NaN,NaN,NaN,1,1,0,0,0,0
9,12010100010101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,...,0.0,NaN,NaN,NaN,1,1,0,0,0,0

In [13]:
individual_demogra_csv = pd.read_csv("csv_individual_demographics.csv")
individual_demogra_csv.head(10)

,individual_id,district_id,vdcmun_id,ward_id,gender_individual,age_individual,presence_in_household,disability_individual,has_registered_birth,education_level_individual,marital_status_individual
0,12010100001101001,12,1207,120703,Male,31,Mostly Present,No,NaN,Illiterate,Married
1,12010100001101002,12,1207,120703,Female,58,Mostly Present,No,NaN,Illiterate,Married
2,12010100001101003,12,1207,120703,Male,15,Mostly Present,No,NaN,Class 7,Not Married
3,12010100002101001,12,1207,120703,Female,62,Mostly Present,No,NaN,Illiterate,Widow/Widower
4,12010100002101002,12,1207,120703,Male,23,Not present-Abroad,No,NaN,Class 6,Married
5,12010100002101003,12,1207,120703,Female,22,Mostly Present,No,NaN,Class 8,Married
6,12010100002101004,12,1207,120703,Female,5,Mostly Present,No,1.0,Nursery/K.G./Kindergarten,NaN
7,12010100002101005,12,1207,120703,Female,2,Mostly Present,No,0.0,NaN,NaN
8,12010100002101006,12,1207,120703,Female,20,Mostly Present,No,NaN,Class 7,Not Married
9,12010100003101001,12,1207,120703,Male,51,Mostly Present,No,NaN,Illiterate,Married

In [14]:
household_resources = pd.read_csv("csv_household_resources.csv")
household_resources.head(10)

,household_id,district_id,vdcmun_id,ward_id,source_water_pre_eq,source_water_post_eq,source_cooking_fuel_pre_eq,source_cooking_fuel_post_eq,source_light_pre_eq,source_light_post_eq,...,has_asset_cable_post_eq,has_asset_computer_post_eq,has_asset_internet_post_eq,has_asset_telephone_post_eq,has_asset_mobile_phone_post_eq,has_asset_fridge_post_eq,has_asset_motorcycle_post_eq,has_asset_four_wheeler_family_use_post_eq,has_asset_four_wheeler_commercial_post_eq,has_asset_none_post_eq
0,12010100001101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
1,12010100002101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
2,12010100003101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
3,12010100004101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
4,12010100005101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
5,12010100006101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
6,12010100007101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
7,12010100008101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
8,12010100009101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
9,12010100010101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
def combined_dataframes():
    '''
    This function reads in the multiple earthquake files and creates a
    dataframes using pandas. The dataframes are joined using merge function from pandas,
    newly joined dataframes are returned as one dataframe.
    '''
    #Bring in items csv using pandas
    items_df_csv = pd.read_csv("csv_builiding_damage_assessment.csv")
    #Bring in store csv using pandas
    stores_df_csv = pd.read_csv("stores_df.csv")
    #Bring in sales csv using pandas
    sales_df_csv = pd.read_csv("sales_df.csv")
    #Merging sales df and store df using pandas
    sales_and_stores_df= pd.merge(sales_df_csv, stores_df_csv, left_on='store', right_on='store_id', how='left')
    #Merging sales_and_store_df with items_df using pandas
    sales_stores_items_df= pd.merge(sales_and_stores_df, items_df_csv, left_on='store_id', right_on='store_id', how='left')
    
    return sales_stores_items_df